footer
    - var currYear = new Date().getYear() + 1900;
    p &copy;&nbsp;
        !=currYear
        | &nbsp;
        a(target="_blank", href=config.url,  rel="noopener noreferrer")!=theme.author ? theme.author : config.author ? config.author : config.title
    p Theme&nbsp;
        a(target="_blank", href="https://github.com/SumiMakito/hexo-theme-typography", rel="noopener noreferrer") Typography
        | &nbsp;by&nbsp;
        a(target="_blank", href="https://www.keep.moe", rel="noopener noreferrer") Makito
    p Hosted by &nbsp;
        a(target="_blank", href="https://pages.coding.me", rel="noopener noreferrer") Coding Pages